%header
  %h1 John Doe
  %address 5555 Some Street, Some Town, PA &bull; (555) 555-5555
  %ul.links
    %li
      = link_to "JohnDoe.com", "http://johndoe.com"
    %li
      = link_to "Github.com/jd", "http://github.com/jd"
    %li
      = link_to "JohnDoe@johndoe.com", "mailto:johndoe@johndoe.com"
