= partial "header"
%content
  %div.column
    %h2 Professional Experience
    %dl
      %dt Web Developer &amp; Technical Lead
      %dd.employer Some Employer, Some Location
      %dd.details
        %ul
          %li Some skill or responsibility
          %li Some skill or responsibility
          %li Some skill or responsibility
      %dd.date 6/13 &ndash; present

      %dt Web Developer
      %dd.employer Some Employer, Some Location
      %dd.details
        %ul
          %li Some skill or responsibility
          %li Some skill or responsibility
          %li Some skill or responsibility
      %dd.date 4/10 &ndash; 6/13

      %dt Web Developer
      %dd.employer Some Employer, Some Location
      %dd.details
        %ul
          %li Some skill or responsibility
          %li Some skill or responsibility
          %li Some skill or responsibility
      %dd.date 4/10 &ndash; 6/13

  %div.column
    %h2 Education
    %dl
      %dt Some University
      %dd.credentials B.A. in Some Field
      %dd.credentials Minors in Some Other Field
      %dd.details Graduated magna cum laude
      %dd.date 5/2003

      %dt Some Other Insitution
      %dd.credentials Continued Education
      %dd.details Coursework in web development
      %dd.date Spring 2007

    %h2 Skills
    %dl
      %dt Proficiency
      %dd.details
        %ul
          %li Some skill
          %li Some skill
          %li Some skill
          %li Some skill

      %dt.break Experience
      %dd.details
        %ul
          %li Some basic experience
          %li Some basic experience
          %li Some basic experience
          %li Some basic experience
%content
  %div.column
    %h2 Awards &amp; Recognition
    %dl 
      %dt 1st Place, Some Competition
      %dd.credentials Some Event
      %dd
        %ul
          %li Some description
      %dd.date 4/2013

      %dt 1st Place, Some Competition
      %dd.credentials Some Event
      %dd
        %ul
          %li Some description
      %dd.date 4/2013

  %div.column
    %h2 Community Involvement
    %ul.details
      %li Some Open Source Contribution
      %li Some Book I wrote
      %li Some volunteer work I did

    %h2.break Clients &amp; Affiliations
    %ul.details
      %li Some Company
      %li Some Company
      %li Some Company

%div.page-break

%content
  %div.column
    %h2 References
    %dl.references
      %dt Some Colleague
      %dd.credentials Principal Engineer, Some Company
      %dd (555) 555-5555
      %dd
        = link_to "somecolleague@somecompany.com", "mailto:somecolleague@somecompany.com"

      %dt Some Colleague
      %dd.credentials Principal Engineer, Some Company
      %dd (555) 555-5555
      %dd
        = link_to "somecolleague@somecompany.com", "mailto:somecolleague@somecompany.com"

      %dt Some Colleague
      %dd.credentials Principal Engineer, Some Company
      %dd (555) 555-5555
      %dd
        = link_to "somecolleague@somecompany.com", "mailto:somecolleague@somecompany.com"
